{% extends "app/layout.html" %}

{% block content %}
<script>
    function updateArticleList() {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("article_select_list").innerHTML = xmlhttp.responseText;
                document.getElementById("all_articles").innerHTML = xmlhttp.responseText;
                document.getElementById("cover").style.display = "none";
                document.getElementById("search_key").value = "";
            }
        }
        service = document.getElementById("service_select_list");
        xmlhttp.open("GET", "/ut/updatearticles/" + service.value + "/", true);
        xmlhttp.send();
        document.getElementById("cover").style.display = "block";
    }

    function addArticles() {
        article_select_list = document.getElementById("article_select_list");
        selected_article_list = document.getElementById("article_selected_list");
        for (i = 0; i < article_select_list.selectedOptions.length; i++) {
            isIn = false;
            for (j = 0; j < selected_article_list.options.length; j++) {
                if (selected_article_list.options[j].value == article_select_list.selectedOptions[i].value) {
                    isIn = true;
                    break;
                }
            }
            if (!isIn) {
                option = document.createElement("option");
                option.value = article_select_list.selectedOptions[i].value;
                option.innerHTML = article_select_list.selectedOptions[i].innerHTML;
                selected_article_list.appendChild(option);
            }
        }
    }
    function removeArticles() {
        selected_article_list = document.getElementById("article_selected_list");
        child_list = [];
        for (i = 0; i < selected_article_list.selectedOptions.length; i++) {
            child_list.push(selected_article_list.selectedOptions[i]);
        }
        for (i = 0; i < child_list.length; i++) {
            selected_article_list.removeChild(child_list[i]);
        }
    }
    function updateArticleIds() {
        selected_article_list = document.getElementById("article_selected_list");
        selected_article_ids = document.getElementById("article_ids");
        ids = "";
        for (i = 0; i < selected_article_list.options.length; i++) {
            ids += "" + selected_article_list.options[i].value + ",";
        }
        selected_article_ids.value = ids;
        document.getElementById("cover").style.display = "block";
    }

    function updateSelectedArticles(){
        selected_article_list = document.getElementById("article_selected_list");
        ul = document.getElementById("selected_articles");
        while (ul.firstChild) {
            ul.removeChild(ul.firstChild);
        }
        for (i = 0; i < selected_article_list.options.length; i++) {
            li = document.createElement("li");
            li.value = selected_article_list.options[i].value;
            li.innerHTML = selected_article_list.options[i].innerHTML;
            ul.appendChild(li);
        }
        document.getElementById("cover2").style.display = "none";
        document.getElementById("select_dia").style.display = "none";
    }
    function cancelSelectedArticles() {
        selected_article_list = document.getElementById("article_selected_list");
        while (selected_article_list.firstChild) {
            selected_article_list.removeChild(selected_article_list.firstChild)
        }
        ul = document.getElementById("selected_articles");
        lis = ul.getElementsByTagName("li");
        for (i = 0; i < lis.length; i++) {
            if (lis[i].value) {
                option = document.createElement("option");
                option.value = lis[i].value;
                option.innerHTML = lis[i].innerHTML;
                selected_article_list.appendChild(option);
            }
        }
        document.getElementById("cover2").style.display = "none";
        document.getElementById("select_dia").style.display = "none";
    }
    function editArticles() {
        document.getElementById("cover2").style.display = "block";
        document.getElementById("select_dia").style.display = "block";
    }
    function updateSearch() {
        search_key = document.getElementById("search_key").value.trim();
        article_select_list = document.getElementById("article_select_list");
        all_articles = document.getElementById("all_articles");
        while (article_select_list.firstChild) {
            article_select_list.removeChild(article_select_list.firstChild);
        }
        if (search_key == "") {
            for (i = 0; i < all_articles.options.length; i++) {
                article_select_list.appendChild(all_articles.options[i].cloneNode(true));
            }
        }
        else {
            for (i = 0; i < all_articles.options.length; i++) {
                if (all_articles.options[i].innerHTML.indexOf(search_key) > -1)
                    article_select_list.appendChild(all_articles.options[i].cloneNode(true));
            }
        }
    }
    function getRecordSearch() {
        var xmlhttp2;
        if (window.XMLHttpRequest) {
            xmlhttp2 = new XMLHttpRequest();
        }
        else {
            xmlhttp2 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp2.onreadystatechange = function () {
            if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
                document.getElementById("searchResult").innerHTML = xmlhttp2.responseText;
                document.getElementById("cover").style.display = "none";
                document.getElementById("search_key").value = "";
            }
        }
        startDate = document.getElementById("startDate").value;
        endDate = document.getElementById("endDate").value;
        laborId = document.getElementById("laborId").value;
        laborType = document.getElementById("laborType").value;
        xmlhttp2.open("GET", "/ut/recordsearch/" + laborId + "/from" + startDate + "to" + endDate + "/" + laborType + "/", true);
        xmlhttp2.send();
        document.getElementById("cover").style.display = "block";
    }
    function getRecords(user_id, record_num){
        var xmlhttp3;
        if (window.XMLHttpRequest) {
            xmlhttp3 = new XMLHttpRequest();
        }
        else {
            xmlhttp3 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp3.onreadystatechange = function () {
            if (xmlhttp3.readyState == 4 && xmlhttp3.status == 200) {
                document.getElementById("recordDisplayContainer").innerHTML = xmlhttp3.responseText;
            }
        }
        xmlhttp3.open("GET", "/ut/getlogs/" + user_id + "/" + record_num + "/", true);
        xmlhttp3.send();
    }
    function getRecordsDuration(user_id, start, end, page){
        var xmlhttp5;
        if (window.XMLHttpRequest) {
            xmlhttp5 = new XMLHttpRequest();
        }
        else {
            xmlhttp5 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp5.onreadystatechange = function () {
            if (xmlhttp5.readyState == 4 && xmlhttp5.status == 200) {
                document.getElementById("recordDisplayContainer").innerHTML = xmlhttp5.responseText;
            }
        }
        recordDisplayContainer = document.getElementById("recordDisplayContainer");
        recordDisplayContainer.innerHTML = "Loading...";
        xmlhttp5.open("GET", "/ut/getlogs/" + user_id + "/from" + start + "to" + end + "/" + page + "/", true);
        xmlhttp5.send();
    }
    function selectWithText(){
        document.getElementById("select_text").style.display = "block";
        document.getElementById("cover3").style.display = "block";
    }
    function cancelSelectWithText(){
        document.getElementById("select_text").style.display = "none";
        document.getElementById("cover3").style.display = "none";
        document.getElementById("select_article_text_area").value = "";
    }
    function updateSelectWithText(){
        var xmlhttp4;
        if (window.XMLHttpRequest) {
            xmlhttp4 = new XMLHttpRequest();
        }
        else {
            xmlhttp4 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp4.onreadystatechange = function () {
            if (xmlhttp4.readyState == 4 && xmlhttp4.status == 200) {
                document.getElementById("article_selected_list").innerHTML = xmlhttp4.responseText;
                document.getElementById("cover").style.display = "none";
                cancelSelectWithText();
            }
        }
        xmlhttp4.open("POST", "/ut/selectarticleswithtext/", true);
        textArea = document.getElementById("select_article_text_area");
        text_list = textArea.value.replace(/\n/g, "%%n%%");
        xmlhttp4.setRequestHeader("text", text_list);
        xmlhttp4.send();
        document.getElementById("cover").style.display = "block";
    }
</script>
<style>
#cover {
   position: fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   opacity: 0.80;
   background: #aaa;
   z-index: 14;
   display:none;
}
#cover2 {
   position:fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   opacity: 0.80;
   background: #aaa;
   z-index: 10;
   display:none;
}

#cover3 {
   position:fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   opacity: 0.80;
   background: #aaa;
   z-index: 12;
   display:none;
}

#select_dia {
   position: absolute;
   background: white;
   z-index: 11;
   width:960px;
   display:none;
}
#select_text {
   position: absolute;
   background: white;
   z-index: 13;
   width:400px;
   display:none;
}
</style>
<div id="cover">
    Getting article list...
</div>
<h2>{{ title }}</h2>
<h4>Labor Search</h4>
<div>
    <span>Start Date: <input type="date" id="startDate" value="{{start_day}}"/></span>
    <span>End Date: <input type="date" id="endDate" value="{{today}}"/></span>
    <span>Labor For:
        <select id="laborId" {% if disabled %} disabled {% endif %}>
            {% for user in users %}
            <option value="{{user.id}}" {% ifequal user.id user_id %} selected {% endifequal  %}>{{user.username}}</option>
            {% endfor %}
        </select>
    </span>
    <span>Labor Type: 
        <select id="laborType">
            <option value="all">all</option>
            <option value="Deliverable">Deliverable</option>
            <option value="Undeliverable">Undeliverable</option>
        </select>
    </span>
    <span><input onclick="getRecordSearch()" type="button" value="Search"/></span>
</div>
<div>
    <div>Labor Reporting: </div>
    <div id="searchResult">None</div>
</div>
<p></p>
<!-- TODO -->
<br />
<br />
<br />
<br />
<br />
<br />
<h4>New Report:</h4>
<form action="{% url 'submitReport' %}" method="post">
    {% csrf_token %}
    <div>
        <div id="cover2">
            Getting article list...
        </div>
        <div id="select_dia">
            <div style="margin:10px 10px">
                <span>Service: 
                    <select id="service_select_list" onchange="updateArticleList()">
                        {% for service in services  %}
                        <option value="{{service.id}}">{{ service.name }}</option>
                        {% endfor %}
                    </select>
                </span>
                <span>Search:
                    <input type="text" id="search_key"/>
                    <input type="button" value="ok" onclick="updateSearch()"/>
                </span>
                <span style="float:right">
                    <a href="javascript:cancelSelectedArticles()" title="cancel"><img src="/static/landingPage/img/delete.png" style="width:20px;height:20px;margin-bottom:0px"/></a>
                </span>
            </div>
            <div>
                <div style="margin:10px 10px;float:left;height:400px;width:30%">
                    <div>Articles:</div>
                    <select multiple id="article_select_list" style="height:350px;width:100%">
                        {% for article in articles %}
                        <option value="{{article.id}}">{{article.filename}}</option>
                        {% endfor %}
                    </select>
                    <select id="all_articles" style="display:none">
                        {% for article in articles %}
                        <option value="{{article.id}}">{{article.filename}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="float:left; margin-top:200px">
                    <a href="javascript:removeArticles()" title="remove"><img style="width:40px;height:40px;margin-bottom:0px" src="/static/UT/left.png"/></a>
                    <a href="javascript:addArticles()" title="add"><img style="width:40px;height:40px;margin-bottom:0px" src="/static/UT/right.png"/></a>
                </div>
                <div style="margin:10px 10px;float:left;height:400px;width:30%">
                    <div id="cover3"></div>
                    <div id="select_text">
                        <div style="margin:10px">
                            <textarea id="select_article_text_area" style="height:350px;width:100%" maxlength="20000"></textarea>
                            <span style="float:right">
                                <a href="javascript:cancelSelectWithText()" title="cancel"><img src="/static/landingPage/img/delete.png" style="width:20px;height:20px;margin-bottom:0px"/></a>
                            </span>
                        </div>
                        <div>
                            Example: articles/app-service-web/web-sites-configure.md
                        </div>
                        <div style="margin:10px">
                            <input type="button" onclick="updateSelectWithText()" value="ok">
                            <input type="button" onclick="cancelSelectWithText()" value="cancel">
                        </div>
                    </div>
                    <div>selected: <input onclick='selectWithText()' type="button" value="Select articles with text"/></div>
                    <select multiple id="article_selected_list" style="height:350px;width:100%">
                    </select>
                </div>
                <div style="float:left; margin-top:350px">
                    <input type="button" onclick="updateSelectedArticles()" value="ok"/>
                    <input type="button" onclick="cancelSelectedArticles()" value="cancel"/>
                </div>
            </div>
        </div>
        <span style="margin:10px 10px">Duration: <input id="duration" name="duration" type="number" style="width:50px"/> minutes</span>
        <span style="margin:10px 10px">Labor Type: 
            <select id="labor_type" name="labor_type">
                {% for labor_type in labor_types %}
                <option value="{{labor_type.id}}">{{labor_type.type_name}}</option>
                {% endfor %}
            </select>
        </span>
        <span style="margin:10px 10px">UT Date: <input id="submitDate" name="submitDate" type="date" value="{{today}}"/></span>
    </div>
    <br />
    <div>
        <span style="margin:10px 10px">Articles selected: <input onclick="editArticles()" type="button" value="edit"/></span>
        <ul id="selected_articles">
            <li>to be added</li>
        </ul>
        <div><a href="{% url 'addArticles' %}">Add Articles to Database</a></div>
    </div>
    <br />
    <div>
        <span style="margin:10px 10px">Comments: <textarea id="comments" name="comments" style="width:100%"></textarea></span>
    </div>
    <br />
    <div style="border-bottom:solid; border-width:1px; padding-bottom:5px; text-align:right">
        <span style="margin:10px 10px">
            <input type="hidden" id="article_ids" name="article_ids" value=""/>
            <input onclick="updateArticleIds();" type="submit" value="Save"/>
        </span>
    </div>
</form>
<br />
<br />
<h4>Log:</h4>

<div>
    <span>Labor for: 
        <select id="laborIdForLog" {% if disabled %} disabled {% endif %}>
            {% for user in users %}
            <option value="{{user.id}}" {% ifequal user.id user_id %} selected {% endifequal  %}>{{user.username}}</option>
            {% endfor %}
        </select>
    </span>
    <span>Start: <input type="date" id="startForLog" value="{{today}}"/></span>
    <span>End: <input type="date" id="endForLog" value="{{today}}"/></span>
    <span><input type="button" value="ok" onclick="getRecordsDuration(document.getElementById('laborIdForLog').value, document.getElementById('startForLog').value, document.getElementById('endForLog').value, 0)"/></span>
</div>
<div id="recordDisplayContainer">
</div>
<script>
    {% if disabled %}
    getRecordsDuration({{user_id}}, "{{today}}", "{{today}}", 0);
    {% else %}
    getRecordsDuration(1, "{{today}}", "{{today}}", 0);
    {% endif %}
</script>
{% endblock %}