{% extends "app/layout.html" %}

{% block content %}
<script>
    function updateArticleList() {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("article_select_list").innerHTML = xmlhttp.responseText;
                document.getElementById("all_articles").innerHTML = xmlhttp.responseText;
                document.getElementById("cover").style.display = "none";
                document.getElementById("search_key").value = "";
            }
        }
        service = document.getElementById("service_select_list");
        xmlhttp.open("GET", "/ut/updatearticles/" + service.value + "/", true);
        xmlhttp.send();
        document.getElementById("cover").style.display = "block";
    }

    function addArticles() {
        article_select_list = document.getElementById("article_select_list");
        selected_article_list = document.getElementById("article_selected_list");
        for (i = 0; i < article_select_list.selectedOptions.length; i++) {
            isIn = false;
            for (j = 0; j < selected_article_list.options.length; j++) {
                if (selected_article_list.options[j].value == article_select_list.selectedOptions[i].value) {
                    isIn = true;
                    break;
                }
            }
            if (!isIn) {
                option = document.createElement("option");
                option.value = article_select_list.selectedOptions[i].value;
                option.innerHTML = article_select_list.selectedOptions[i].innerHTML;
                selected_article_list.appendChild(option);
            }
        }
    }
    function removeArticles() {
        selected_article_list = document.getElementById("article_selected_list");
        child_list = [];
        for (i = 0; i < selected_article_list.selectedOptions.length; i++) {
            child_list.push(selected_article_list.selectedOptions[i]);
        }
        for (i = 0; i < child_list.length; i++) {
            selected_article_list.removeChild(child_list[i]);
        }
    }
    function updateArticleIds() {
        selected_article_list = document.getElementById("article_selected_list");
        selected_article_ids = document.getElementById("article_ids");
        ids = "";
        for (i = 0; i < selected_article_list.options.length; i++) {
            ids += "" + selected_article_list.options[i].value + ",";
        }
        selected_article_ids.value = ids;
        document.getElementById("cover").style.display = "block";
    }

    function updateSelectedArticles(){
        selected_article_list = document.getElementById("article_selected_list");
        ul = document.getElementById("selected_articles");
        while (ul.firstChild) {
            ul.removeChild(ul.firstChild);
        }
        for (i = 0; i < selected_article_list.options.length; i++) {
            li = document.createElement("li");
            li.value = selected_article_list.options[i].value;
            li.innerHTML = selected_article_list.options[i].innerHTML;
            ul.appendChild(li);
        }
        document.getElementById("cover2").style.display = "none";
        document.getElementById("select_dia").style.display = "none";
    }
    function cancelSelectedArticles() {
        selected_article_list = document.getElementById("article_selected_list");
        while (selected_article_list.firstChild) {
            selected_article_list.removeChild(selected_article_list.firstChild)
        }
        ul = document.getElementById("selected_articles");
        lis = ul.getElementsByTagName("li");
        for (i = 0; i < lis.length; i++) {
            if (lis[i].value) {
                option = document.createElement("option");
                option.value = lis[i].value;
                option.innerHTML = lis[i].innerHTML;
                selected_article_list.appendChild(option);
            }
        }
        document.getElementById("cover2").style.display = "none";
        document.getElementById("select_dia").style.display = "none";
    }
    function editArticles() {
        document.getElementById("cover2").style.display = "block";
        document.getElementById("select_dia").style.display = "block";
    }
    function updateSearch() {
        search_key = document.getElementById("search_key").value.trim();
        article_select_list = document.getElementById("article_select_list");
        all_articles = document.getElementById("all_articles");
        while (article_select_list.firstChild) {
            article_select_list.removeChild(article_select_list.firstChild);
        }
        if (search_key == "") {
            for (i = 0; i < all_articles.options.length; i++) {
                article_select_list.appendChild(all_articles.options[i].cloneNode(true));
            }
        }
        else {
            for (i = 0; i < all_articles.options.length; i++) {
                if (all_articles.options[i].innerHTML.indexOf(search_key) > -1)
                    article_select_list.appendChild(all_articles.options[i].cloneNode(true));
            }
        }
    }
    function getRecordSearch(laborId) {
        var xmlhttp2;
        if (window.XMLHttpRequest) {
            xmlhttp2 = new XMLHttpRequest();
        }
        else {
            xmlhttp2 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp2.onreadystatechange = function () {
            if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
                document.getElementById("searchResult").innerHTML = document.getElementById("searchResult").innerHTML+xmlhttp2.responseText;
                document.getElementById("cover").style.display = "none";
                document.getElementById("search_key").value = "";
            }
        }
        startDate = document.getElementById("startDate").value;
        endDate = document.getElementById("endDate").value;
        laborType = document.getElementById("laborType").value;
        xmlhttp2.open("GET", "/ut/recordsearch/" + laborId + "/from" + startDate + "to" + endDate + "/" + laborType + "/", true);
        xmlhttp2.send();
        document.getElementById("cover").style.display = "block";
    }
    function getRecords(user_id, record_num){
        var xmlhttp3;
        if (window.XMLHttpRequest) {
            xmlhttp3 = new XMLHttpRequest();
        }
        else {
            xmlhttp3 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp3.onreadystatechange = function () {
            if (xmlhttp3.readyState == 4 && xmlhttp3.status == 200) {
                document.getElementById("recordDisplayContainer").innerHTML = xmlhttp3.responseText;
            }
        }
        xmlhttp3.open("GET", "/ut/getlogs/" + user_id + "/" + record_num + "/", true);
        xmlhttp3.send();
    }
    function getRecordsDuration(user_id, start, end, page){
        var xmlhttp5;
        if (window.XMLHttpRequest) {
            xmlhttp5 = new XMLHttpRequest();
        }
        else {
            xmlhttp5 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp5.onreadystatechange = function () {
            if (xmlhttp5.readyState == 4 && xmlhttp5.status == 200) {
                document.getElementById("recordDisplayContainer").innerHTML = xmlhttp5.responseText;
            }
        }
        recordDisplayContainer = document.getElementById("recordDisplayContainer");
        recordDisplayContainer.innerHTML = "Loading...";
        xmlhttp5.open("GET", "/ut/getlogs/" + user_id + "/from" + start + "to" + end + "/" + page + "/", true);
        xmlhttp5.send();
    }
    function selectWithText(){
        document.getElementById("select_text").style.display = "block";
        document.getElementById("cover3").style.display = "block";
    }
    function cancelSelectWithText(){
        document.getElementById("select_text").style.display = "none";
        document.getElementById("cover3").style.display = "none";
        document.getElementById("select_article_text_area").value = "";
    }
    function updateSelectWithText(){
        var xmlhttp4;
        if (window.XMLHttpRequest) {
            xmlhttp4 = new XMLHttpRequest();
        }
        else {
            xmlhttp4 = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp4.onreadystatechange = function () {
            if (xmlhttp4.readyState == 4 && xmlhttp4.status == 200) {
                document.getElementById("article_selected_list").innerHTML = xmlhttp4.responseText;
                document.getElementById("cover").style.display = "none";
                cancelSelectWithText();
            }
        }
        xmlhttp4.open("POST", "/ut/selectarticleswithtext/", true);
        textArea = document.getElementById("select_article_text_area");
        text_list = textArea.value.replace(/\n/g, "%%n%%");
        xmlhttp4.setRequestHeader("text", text_list);
        xmlhttp4.send();
        document.getElementById("cover").style.display = "block";
    }
</script>
<style>
#cover {
   position: fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   opacity: 0.80;
   background: #aaa;
   z-index: 14;
   display:none;
}
#cover2 {
   position:fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   opacity: 0.80;
   background: #aaa;
   z-index: 10;
   display:none;
}

#cover3 {
   position:fixed;
   padding:0;
   margin:0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   opacity: 0.80;
   background: #aaa;
   z-index: 12;
   display:none;
}

#select_dia {
   position: absolute;
   background: white;
   z-index: 11;
   width:960px;
   display:none;
}
#select_text {
   position: absolute;
   background: white;
   z-index: 13;
   width:400px;
   display:none;
}
</style>
<div id="cover">
    Getting article list...
</div>
<h2>{{ title }}</h2>
<h4>Labor Search For All</h4>
<div>
    <span>Start Date: <input type="date" id="startDate" value="{{start_day}}"/></span>
    <span>End Date: <input type="date" id="endDate" value="{{today}}"/></span>
    <span>Labor Type: 
        <select id="laborType">
            <option value="all">all</option>
            <option value="Deliverable">Deliverable</option>
            <option value="Undeliverable">Undeliverable</option>
        </select>
    </span>
    <span><input onclick="{% for user in users %}getRecordSearch({{user.id}});{% endfor %}" type="button" value="Search"/></span>
</div>
<div>
    <div>Labor Reporting: </div>
    <div id="searchResult">None</div>
</div>
<p></p>
{% endblock %}