{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Mooncake Portal</h1>
    <p class="lead">This is the Portal for Project Mooncake. It's currently under development.</p>
    <ul>
        <li><a href="{% url 'landingPageIndex' %}">Landing Page</a></li>
        <li><a href="{% url 'customizationToolmainpage' %}">Customization Tool</a></li>
        <li><a href="{% url 'UTmainpage' %}">Reports</a></li>
        <li><a href="{% url 'reportsmainpage' %}">UT</a></li>
        <li><a href="{% url 'QAmainpage' %}">Quality Analysis</a></li>
    </ul>
</div>
{% endblock %}
